
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: column !important; 
    min-height: 100vh !important;
}

header, main, footer, #root {
    display: block !important;
    width: 100% !important;
}


#root {
    padding: 20px;
    text-align: center;
}